body {
	margin:0px;
	padding: 0px;
	display: flex;
}

nav {
	width: 20%;
	background-color: #AFEEEE;
}
nav>h2 {
	text-align: center;
}
ul {
	text-align: center;
	margin-left: -40px;
}

 li {
 	list-style: none;
 }

article {
	width: 65%;
	margin:5px;
}

aside {
	text-align: center;
	width: 15%;
	display: flex;
	flex-direction: column;
	background-color: #AFEEEE;
	padding-top: 5px;
	padding-bottom: 5px;
}

