/*////////////CSS gabarit, identique sur chaque page du site/////////*/
body {
	display: flex;
}

nav {
	width: 200px;
	padding: 5px;
	border: solid 2px #c9cad2;
}

nav>h3 {
	text-align: center;
}

li {
	list-style: none;
	padding-left: 19px;
}

section {
	flex-direction: column;
}

header {
	height: 150px;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	border-top: solid 2px #c9cad2;
	border-right: solid 2px #c9cad2;
	border-bottom: solid 1px #c9cad2;
	font-size: 1.6em;
}

article {
	border-top: 1px solid #c9cad2;
	border-right: 2px solid #c9cad2;
	border-bottom: 2px solid #c9cad2;
	padding: 10px;
}
/*////////Fin CSS gabarit//////////*/

/*////////CSS du contenu changeant à chaque page/////////*/

#image {
	display: flex;
	justify-content: space-around;
}